---
import { Image } from 'astro:assets';
import getReadingTime from 'reading-time';

import type { Post } from '@lib/directusTypes';

import Logo from '@components/images/Logo.astro';
import { formatShortDate } from '@support/time';
import { getDirectusImageURL } from '@/support/url';

interface Props {
  post: Post;
}

const { post } = Astro.props;

const readingTime = getReadingTime(post.content || '');
---

<div class="smooth-reveal-cards group flex flex-col">
  <a
    class="card-base border-none! h-full flex flex-col"
    href={`/blog/${post.slug}/`}
    data-astro-prefetch
  >
    <div class="relative shrink-0 rounded-t-xl w-full overflow-hidden before:absolute before:inset-x-0 before:z-1 before:size-full">
      <Image
        class="rounded-t-xl h-64 w-full object-cover"
        src={getDirectusImageURL(post.image)}
        alt={post.image_alt}
        draggable="false"
        loading="eager"
        format="webp"
        inferSize={true}
      />
    </div>
    <div class="flex flex-col flex-1 rounded-xl p-4 md:p-5 mx-1 mb-2">
      <div class="flex flex-row items-center mb-8">
        <h3 class="card-text-title card-hover-text-title text-xl md:text-2xl">
          {post.title}
        </h3>
      </div>
      <div class="flex shrink-0 items-center mt-auto gap-x-2 card-text-description text-sm overflow-hidden whitespace-nowrap max-w-full">
        <div class="inline-flex items-center">
          <div class="mr-2">
            <Logo
              srcLight={getDirectusImageURL(post.category.logoLight)}
              srcDark={getDirectusImageURL(post.category.logoDark)}
              alt={`Logo of ${post.category.title}`}
              width={18}
              height={18}
            />
          </div>
          {post.category.title}
        </div>
        <span>
          /
        </span>
        <p>
          {formatShortDate(post.published_date)}
        </p>
        <span>
          /
        </span>
        <span>
          {readingTime.minutes.toPrecision(1)} minutes
        </span>
      </div>
    </div>
  </a>
</div>
