---
import { readItems, readSingleton } from '@directus/sdk';

import type { Post, Category } from '@lib/directusTypes';

import HeaderSection from '@components/sections/HeaderSection.astro';
import BlogCard from '@components/cards/BlogCard.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import directus from '@lib/directus';

const category = Astro.props;

export async function getStaticPaths() {
  const categories = await directus.request(readItems('categories'));
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: category,
  }));
}

const global = await directus.request(readSingleton('site_global'));
const posts = await directus.request(
  readItems('posts', {
    filter: { published: { _eq: true } },
    fields: ['*'],
    sort: ['-published_date'],
  })
);

const categoriesPosts = posts
  .sort((a: Post, b: Post) => b.published_date.valueOf() - a.published_date.valueOf())
  .filter((b) => {
    return b.category === category.slug;
  });
---

<BaseLayout
  title={category.title}
  description={category.description}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    inLanguage: 'en-US',
    '@id': Astro.url.href,
    url: Astro.url.href,
    name: `${category.title} | ${global.name}`,
    description: category.description,
    isPartOf: {
      url: `${global.site_url}/categories`,
      name: global.name,
      description: global.about,
    },
  }}
>

  <HeaderSection
    title={category.title}
    subTitle={category.description}
    btnExists
    btnTitle="Back to Categories"
    btnURL="/categories"
  />

  <section class="max-w-340 2xl:max-w-full mb-10 px-4 sm:px-6 lg:px-8 py-8 mx-auto mt-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {categoriesPosts.map((b) => 
      <BlogCard post={b} />
      )}
    </div>
  </section>

</BaseLayout>
